.PageOne{
    position: relative;
    height:100vh;
    background-size:100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    overflow: hidden;

    color:aliceblue;

}
.pageOneContainer{
    position:absolute;
    top:45%;
    width:100%;
    display:flex;
    justify-content:space-between;
}
.containerOne{
    margin-left:5vw;
    width:40vw;
    display:block;
    height:fit-content;
}
.subContImg{
    height:50px;
    width:50px;
}
.containertwo{
    /* position:relative; */
    /* right: 5vw; */
    float:right;
    /* width:40vw; */
    width:fit-content;
    margin-right: 5vw;
    display:flex;
    overflow:hidden;
    height:fit-content;
    display:block;   
}
.city{
    font-size: 42px;
    text-align: left;
}
.subcontainer{
    width:100%;
    font-size:24px;
    text-align:left;
}
.subcontainerExcept{
    font-size: 42px;
}

.searchText{
    width:250px;
    height:24px;
    font-size:16px;
}
.searchBtn{
    /* margin:0.25vw; */
    height:24px;
    width:24px;
    flex-direction: column;    
}
.searchBtn img{
    height:100%;
    width:100%;
}
/* max-width: 900px is used for tablets. */
@media screen and (max-width:400px){
    /* the search part */
    .searchContainer{
        font-size:18px;
    }
    form{
        display:flex;
    }
    .searchText{
        height:25px;
        width:80vw;
        font-size:16px;

    }
    .searchBtn{
        margin:none;
        height:25px;
        width:25px;
        overflow: hidden;
    }
    .searchBtn img{
        height:100%;
        width:100%
    }
    /* the main containers */
    .pageOneContainer{
        position:absolute;
        top:25%;
        display:flex;
        flex-wrap: wrap-reverse;
        /* justify-content: space-around; */
    }
    .containerOne{
        margin-left:15vw;
        width:80vw;
        float:left;
        display:block;
        height:fit-content;
        /* padding-inline-start: 0; */
        padding-block: 20px;

        /* margin-left:5vw;
        width:40vw;
        display:flex;
        height:fit-content; */
    }
    .containertwo{
        width:80vw;
        overflow:hidden;
        height:fit-content;
        display:block;  
        margin-left: 15vw; 
        padding-block:20px;
        float:none;
    }
    .city{
        font-size: 30px;
        text-align: left;
    }
    .subcontainer{
        width:100%;
        font-size:18px;
        text-align:left;
    }
    .subContImg{
        height:40px;
        width:40px;
    }
    .subcontainerExcept{
        font-size: 30px;
    }
    

}
