.PageTwo{
    height:100vh;
    background-size: cover;
    overflow-x: hidden;
    background-image: url("./../../../public/Assets/pagetwoBG.jpg");
    background-attachment: fixed;
}
.pgTwoTitle{
    width:80vw;
    margin: 0 10vw 50px 10vw ;
    font-size:75px;
    text-align: center;
    color:aliceblue;
}

.pgTwoFeatures{
    width:50vw;
    position:absolute;
    right:0;
}
.pgTwoTitle2{
    width:50vw;
    right:0;
    font-size:50px;
    text-align: center;
    color:aliceblue;
}
.featureContainer{
    width:50vw;
    height:100px;
    display:flex;
    justify-content:space-around;
}

.feature{
    width:20vw;
    text-align: left;
    color:aliceblue;
    margin-top:1.5vw;
}
.featureHead{
    font-size: 30px;
    margin-bottom: 1vw;
}

.subscribe{
    width:100vw;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.offer{
    width:50vw;
    height:100vh;
    display:flex;
    justify-content: space-around;
    background-color: #EFF5F5;
    color:#497174;
}
.suboffer{
    width:15vw;
    margin:auto;
    padding:1.5vw;
    border:solid 2px #497174;
    border-radius:20px;
    background-color: #D6E4E5;
}
.subOfferTitle{
    text-align: center;
    font-size: 25px;
}
.forms{
    width:50vw;
    display:flex;
    background-color: #497174;
    color:#D6E4E5;
    font-size: 1.5vw;
}
.formMainDiv{
    margin: auto;
    width:40vw;
}
.formContainer{
    padding:1vw;
}

.inputOne{
    width:30vw;
    height:1.5vw;
}
.inputTwo{
    height:1.5vw;
    width:15vw;
}
.inputThree{
    height:1.5vw;
    width:1.5vw;
}

.formButton{
    width:40vw;
    display:flex;
}
.submit_Btn{
    height:3vw;
    width:10vw;
    color:#497174;
    margin:auto;
}

@media screen and (max-width:400px){
    .PageTwo{
        height:200vh;
        background-position: 20% 0;
    }
    .pgTwoTitle{
        width:90vw;
        margin: 0 5vw 0 5vw ;
        font-size:40px;
        height:calc((100vh - 50px) / 2);
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .pgTwoFeatures{
        width:95vw;
    }
    .pgTwoTitle2{
        width:90vw;
        height:calc((100vh - 50px) / 2);
        font-size:30px;
    }

    .featureContainer{
        width:95vw;
        height:100vh;
        display:flex;
        justify-content:space-around;
        flex-wrap: wrap;
    }

    .feature{
        width:80vw;
        text-align: left;
        color:aliceblue;
        margin-top:10px;
    }
    .featureHead{
        font-size: 28px;
        margin-bottom:5px;
        margin-top: 5px;
    }
/* subscribe page */
    .subscribe{
        height:200vh;
    }

    .offer{
        width:100vw;
        height:100vh;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .suboffer{
        width:200px;
        margin:none;
        height: 210px;
    }

    /* forms  */
    .forms{
        width:100vw;
        height:100vh;
        display:flex;
        flex-wrap: wrap;
        font-size: 18px;
    }

    .formMainDiv{
        margin-left:10%;
        width:100vw;
    }
    .formSubDiv{
        display:block;
    }
    .formContainer{
        padding-block:10px;
    }
    .inputOne{
        height:20px;
        width:80vw;
    }
    .inputTwo{
        height:20px;
        width:80vw;
    }
    .inputThree{
        height:18px;
        width:18px;
    }

    .formButton{
        width:80vw;
    }
    .submit_Btn{
        height:35px;
        width:150px;
    }
}

@media screen and (min-width:400px) and (max-width:900px){
    .PageTwo{
        background-position: 20% 0;
    }
    .pgTwoTitle{
        width:90vw;
        margin: 0 5vw 0 5vw ;
        font-size:70px;
        height:calc((100vh - 50px) / 2);
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    .pgTwoFeatures{
        width:95vw;
        margin-inline: 2.5vw;
        height:max-content
    }
    .pgTwoTitle2{
        width:90vw;
        height:20%;
        font-size:50px;
    }

    .featureContainer{
        width:80vw;
        margin-inline: 10vw;
        height:max-content;
        display:flex;
        justify-content:space-around;
        flex-wrap: wrap;
    }

    .feature{
        width:25vw;
        text-align: left;
        color:aliceblue;
        margin-top:50px;
    }
    .featureHead{
        font-size: 40px;
        margin-bottom:10px;
    }

    /* subscribe page */
    .offer{
        width:100vw;
        height:50vh;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .suboffer{
        width:200px;
        margin:none;
        height: 210px;
    }
    /* forms */

    .forms{
        width:100vw;
        height:50vh;
        display:flex;
        flex-wrap: wrap;
        font-size: 18px;
    }


}