.Navbar{
    height:5vw;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.NavTitle{
    /* position:relative; */
    /* top:1vw; */
    font-size:25px;
    width:200px;
    display: flex;
    justify-content: space-around;
    /* margin-left:1.5vw; */
}
.NavLinks{
    height:5vw;
    width:200px;
    display:flex;
    justify-content: space-around;
}
.links{
    color: aliceblue;
    text-decoration: none;
    /* position:relative; */
    /* top:1.5vw; */
    font-size: 20px;
    /* margin-right:1.5vw; */
}

@media screen and (max-width: 400px){
    .Navbar{
        height: 50px;
        width:100%;
    }
    .NavTitle{
        width:120px;
        font-size: 20px;
        padding-top:10px;
    }
    .NavLinks{
        height:50px;
        width:120px;
    }
    .links{
        padding-top:15px;
        font-size: 14px;
    }
}

